body {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.card {
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}

.card__item {
    width: 28.33333%;
    padding: 0 15px;
}
.card__inner{
    border: 1px solid #E2E2E2;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.card__title{
    width: 100%;
    font-size: 20px;
    color: #333;
    font-weight: 700;
    line-height: 1.6;
    padding-left: 26px;
}
.card__text {
    width:80%;
    font-size: 15px;
    color: #666;
    font-weight: 400;
    padding-left: 26px;
    padding-bottom: 9px;
}
.card__price{
    width: 100%;
    font-size: 25px;
    color: #333;
    font-weight: 700;
    padding-left: 26px;
    padding-bottom: 30px;
}
.card__price--sub{
    font-size: 20px;
    color: #333;
    font-weight: 400;
}




